@import '../../App.scss';

/***** HOME PAGE STYLE *****/
.home-page {
  padding: 0 1rem;

  // HEADING
  &__heading {
    @include wrapper(1000px, 120px auto 60px);
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, 0.9);
  }

  // BODY
  &__body {
    margin-bottom: 60px;
  }
}
